.custom-input::placeholder {
    color: #ffffff ;
    opacity: 1;
  }
  
  .custom-input::-ms-input-placeholder {
    color: #ffffff;
  }
  
  .custom-input::-webkit-input-placeholder {
    color: #ffffff;
  }